.orderSummary {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.date {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.totalProducts {
    font-size: 14px;
    color: #666;
}

.status {
    font-size: 14px;
    font-weight: bold;
    color: #2b7137;
    /* Default color for delivered, override as needed */
}

.individualOrder {
    padding: 15px;
    background-color: #f7f9f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.orderDetails {
    padding-left: 20px;
    padding-bottom: 10px;
    border-left: 2px solid #ccc;
}

.statusOrderplaced {
    color: #f4b41a;
}

.statusPicked {
    color: #66a766;
    /* Blend of #2b7137 and lighter green */
}

.statusDelivered {
    color: #2b7137;
}

.statusNotdelivered {
    color: #ff5733;
}

.viewProductsButton {
    margin: 0 auto;
    padding: 8px 16px;
    background-color: #2b7137;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    display: block;
}

.viewProductsButton:hover {
    background-color: #24612e;
    transform: scale(1.05);
}

.viewProductsButton:active {
    background-color: #1f5027;
    transform: scale(0.98);
}