.orderSummary {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.date {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.totalProducts {
    font-size: 14px;
    color: #666;
}

.status {
    font-size: 14px;
    font-weight: bold;
    color: #2b7137;
    /* Default color for delivered, override as needed */
}

.individualOrder {
    padding: 15px;
    background-color: #f7f9f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.orderDetails {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
}

.individualOrderDetail {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.productImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.statusNotPicked {
    color: #f4b41a;
}

.statusPicked {
    color: #66a766;
    /* Blend of #2b7137 and lighter green */
}

.statusDelivered {
    color: #2b7137;
}

.statusNotdelivered {
    color: #ff5733;
}